RewriteEngine On
RewriteCond %{HTTP_HOST} ^pic3pic.com [NC]
RewriteRule ^(.*)$ http://www.pic3pic.com/$1 [L,R=301]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]