.navbar-default {
	background-color: #2E465F;
	border-color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-bottom: 5px solid #fff;
}
.black{
	color: #000;
}