Options +FollowSymLinks
RewriteEngine On
RewriteCond %{HTTP_HOST} ^tamboola.com [NC]
RewriteRule ^(.*)$ http://www.tamboola.com/$1 [L,R=301]
#RewriteRule ^Tamboola$ control.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]