#video {
	  position: relative;
	  background: #000;
	  width: 640px;
	  margin: 20px auto;
	}	
#video img,
#video iframe { display: block; }
#play {

	  position: absolute;

	  top: 0;

	  left: 0;

	  width: 100%;

	  height: 100%;

	  cursor: pointer;

	  background: url('play-button.png') no-repeat 50% 50%;

	  background-size: auto, cover;

	  z-index: 9999;

	}
#play:hover { background-color: rgba(0,0,0,0.2) !important; }
$("document").ready(function() {

	  $("#video").simplePlayer();

	});	
$("#video").simplePlayer({

	 

	autoplay: 1,

	autohide: 1,

	border: 0,

	wmode: 'opaque',

	enablejsapi: 1,

	modestbranding: 1,

	version: 3,

	hl: 'en_US',

	rel: 0,

	showinfo: 0,

	hd: 1,

	iv_load_policy: 3 // add origin

	 

	});
