.compsolu{
    background: url(../images/site/compliance.jpg) no-repeat;
    display: block!important; 
    background-size: 100%;
    color: #FFFFFF;
    min-height: 300px;
}
.carousel-caption{
    top:45px;
}
@media (max-width:1366px) {
    .compsolu{
        background-size: 100%;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        -ms-background-size: 100%;
        min-height: 275px;
    }
    .carousel-caption{
        top:5px;
    }
    .carousel-caption p{
        font-size: 1em;
    }
}
/* max-width:1280px*/
@media (max-width:1280px) {
    .compsolu{
        background-size: 100%;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        -ms-background-size: 100%;
        min-height: 255px;
    }
    .carousel-caption p{
        font-size: 1em;
    }
}
/* max-width:1024px */
@media (max-width:1024px) {
    .compsolu{
        background-size: 100%;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        -ms-background-size: 100%;
        min-height: 235px;
    }
    .carousel-caption p{
        font-size: 1em;
    }
}
/*max-width:800px  */
@media (max-width:800px) {
    .compsolu{
        background-size: 100%;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        -ms-background-size: 100%;
        min-height: 225px;
    }
    .carousel-caption p{
        font-size: 1em;
    }
}
/*max-width:768px  */
@media (max-width:768px) {
    .compsolu{
        background-size: 100%;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        -ms-background-size: 100%;
        min-height: 215px;
    }
    .carousel-caption p{
        font-size: 1em;
    }
}
/*max-width:640px  */
@media (max-width:640px) {
    .compsolu{
        background-size: 100%;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        -ms-background-size: 100%;
        min-height: 195px;
    }
    .carousel-caption p{
        font-size: 1em;
    }
}
/*max-width:480px  */
@media (max-width:480px) {
    .compsolu{
        background-size: 100%;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        -ms-background-size: 100%;
        min-height: 185px;
    }
    .carousel-caption p{
        font-size: 1em;
    }
}
/*max-width:320px  */
@media (max-width:320px) {
    .compsolu{
        background-size: 100%;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        -ms-background-size: 100%;
        min-height: 175px;
    }
    .carousel-caption p{
        font-size: 1em;
    }
}
